.container {
   width: 100vw;
   padding-left: 15px;
   padding-right: 15px;
   outline: 1px solid tomato;
}

@media screen and (min-width: 428px) {
   .container {
      width: 428px;
      margin-left: auto;
      margin-right: auto;
   }
}

@media screen and (max-width: 428px) { 
   .navigation {
      display: none;
      }
   
   .header-contacts {
      display: none;
      }

   .mobile-menu-open-icon {
      display: inline-block;
      width: 1em;
      height: 1em;
      stroke-width: 0;
      stroke: currentColor;
      fill: currentColor;
      width: 32px;
      height: 32px;
   }

   .header-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-top: 24px;
      padding-bottom: 24px;
   }
}

.menu-toggle {
   background-color: transparent;
   border: none;
   padding: 0;
   line-height: 0;
}

.menu-container {
   position: absolute;
   width: 100%;
   height: 100%;
   z-index: 1000;
   top: 0;
   left: 0;
   background-color: var(--main-background-color);
}

/* .menu-toggle {
   position: absolute;
   top: 40px;
   right: 40px;
   padding: 0;
   line-height: 0;
   width: 24px;
   height: 24px;
   background-color: var(--footer-font-color);
   border: 1px solid rgba(0, 0, 0, 0.1);
   border-radius: 50%;
} */

.mobile-menu-list {
   display: flex;
   flex-direction: column;
   padding-left: 40px;
   padding-top: 80px;
   padding-bottom: 284px;
   gap: 40px;
}

.mobile-menu-item {
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 700;
   font-size: 36px;
   line-height: 1.11;
   letter-spacing: 0.02em;
   text-transform: capitalize;
   color: var(--text-dark);
}

.mobile-menu-item:hover,
.mobile-menu-item:focus {
   color: var(--accent-color);
}

.mobile-module-contacts {
   display: flex;
   flex-direction: column;
   gap: 40px;
   padding-left: 40px;
   padding-bottom: 48px;
   
}

.module-contact-phone {
   font-weight: 600;
   font-size: 36px;
   line-height: 1.11;
   text-transform: capitalize;
   text-decoration: none;
   color: var(--contact-item-color);
}

.module-contact-email {
   font-weight: 500;
   font-size: 20px;
   line-height: 1.2;
   letter-spacing: 0.02em;
   color: var(--contact-item-color);
}

.module-contact-phone:hover,
.module-contact-phone:focus,
.module-contact-email:hover,
.module-contact-email:focus, {
   color: var(--accent-color);
}

/**
  |============================
  | Mobile menu
  |============================
*/

.menu-toggle {
   min-height: 40px;
   min-width: 40px;
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 0;
   margin-left: auto;
   padding: 0;
   background-color: transparent;
   cursor: pointer;
   border: none;
   border-radius: 50%;
   outline: none;
}

.menu-btn-close {
   position: absolute;
   align-items: center;
   justify-content: center;
   width: 24px;
   height: 24px;
   background-color: var(--footer-font-color);
   border: 1px solid rgba(0, 0, 0, 0.1);
   border-radius: 50%;
}

@media (min-width: 768px) {
   .menu-toggle {
      display: none;
   }
}

.menu-toggle:hover,
.menu-toggle:focus {
   background-color: rgba(0, 0, 0, 0.1);
}

.menu-container {
   position: fixed;
   top: 0;
   left: 0;
   width: 100vw;
   height: 100vh;

   padding-bottom: 284px;
   background-color: var(--main-background-color);
   z-index: 1000;
   opacity: 0;
   visibility: hidden;
   transition: opasity 250ms liner;
}

.menu-container.is-open {
   opacity: 1;
   visibility: visible;
}

.menu-container .menu-toggle {
   position: absolute;
   top: 16px;
   right: 16px;
   color: #fff;
}

.mobile-menu {
   padding: 0;
   margin: 0;
   list-style: none;
}

.mobile-menu .link {
   display: block;
   padding: 10px;
   color: #fff;
   text-decoration: none;
}

.mobile-menu-social {
   display: flex;
   margin-left: auto;
   margin-right: auto;
   padding-left: 40px;
   gap: 56px;
   height: 40px;
}

.mobile-social-block {
   width: 40px;
   height: 40px;
}